# node and python dependencies
/node_modules
.venv

# next.js
/.next/

# macOS jeffery
.DS_Store

# log files
*.log*


# env files
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# python bytecode
/**/__pycache__
*.py[cod]
*$py.class


