
# node dependencies
**/node_modules

# nextjs files
**/.next

# macOS jeffery
.DS_Store

# environment variables
.env

# typescript files
*.tsbuildinfo
next-env.d.ts

# python bytecode
*.py[cod]
*$py.class
