[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
prisma = "*"
json5 = "*"
pandas = "*"
numpy = "*"

[dev-packages]
ipykernel = "*"
black = "*"
pylint = "*"
jmespath = "*"

[requires]
python_version = "3.10"
